{% load static %}
<header style="margin-bottom:10px">
	<nav class="navbar-light" style="background-color: #e3f2fd;">
		<div class="container-fluid">
			<div class="row">
				<div class="col-1"> <a class="navbar-brand logo">Грибная нейронная сеть</a> </div>
				<div class="col-9"> </div>
				<div class="col-2 me-part">
                    <img class="avatar img-thumbnail" src="{% static "img/me.jpg" %}">
					<div class="row my-name">
						<div>Ширшов А.С.</div>
                        <div></div>ИУ5-24М
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>