{% load static %}
<!DOCTYPE html>
<html lang="en">
<meta charset="windows-1251">
<title>Домашнее задание 1</title>

<head>
    <meta charset="utf-8">
    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/my-css.css" %}" rel="stylesheet">
 </head>

<body>
    <!-- Navbar -->
    {% include "include/navbar.html" %}  
    <div class="classify-image">
        Ваше изображение:
        {% if imagePath %}
        <img src={{imagePath}}>
        {% else %}
        <img src="{% static "img/upload_file.png" %}">
        {% endif %}
    </div>
    <div class="classify-image">
        {% if scorePrediction %}
        <h3>На изображении обнаружен гриб:</h3>
        <h3>{{scorePrediction}}</h3>
    </div>
    <div class="andrew_tate">
        <h3>1. Описание: {{desc}}</h3>
        <h3>2. Съедобность: {{tasty}}</h3>
        <h3>3. Латинское описание: {{latin}}</h3>
        <br><br>
        <h3>Признаки: {{criteria}}</h3>
        {% endif %}
    </div>
    <div class="container">
        <form action="predictImage" class="classify-image" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="userImage" class="kind-button">Выбрать изображение</label>
            <input type="file" id="userImage" name="filePath" accept="image/png, image/jpeg" style="visibility:hidden;"/>
            <input type="submit"  value="Подтвердить">
        </form>
    </div>  
</body>
</html>